.navContainer {
    display: flex;
    flex-direction: column;
}

.filters{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-top: 20px;
}
.searchbar{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.Creator{
    color: greenyellow; 
    font-size: 14px; 
    line-height: 14px; 
    padding: 6px; 
    border-radius: 11px; 
    font-family: "Courier New", Courier, monospace; 
    font-weight: 400; 
    text-decoration: greenyellow; 
    background: transparent;
    box-shadow: rgb(0, 0, 0) 4px 5px 15px 5px; 
    border: 2px solid greenyellow; 
    position: absolute;
    cursor: pointer;
}
.Creator:hover {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 2px 2px 1px rgba(206,89,55,0);
    color: greenyellow;
}
.Creator:active{
    transform:scale(.9);
}
.Creator1{
    color: greenyellow; 
    font-size: 14px; 
    line-height: 14px; 
    padding: 6px; 
    border-radius: 11px; 
    font-family: "Courier New", Courier, monospace; 
    font-weight: 400; 
    text-decoration: greenyellow; 
    background: transparent;
    box-shadow: rgb(0, 0, 0) 4px 5px 15px 5px; 
    border: 2px solid greenyellow; 
    cursor: pointer;
}
.Creator1:hover {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 2px 2px 1px rgba(206,89,55,0);
    color: black;
}
.Creator1:active{
    transform:scale(.9);
}
.image1{
    position: center;
    height: auto;
    width: 500px;
    padding-bottom: 5px;
}